.img{
    width: 20%;
}
body{
    background-color: rgb(255, 255, 255);
    font: 40px;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: blue;
}
.cabecalho-lista{
    display: flex;
    list-style-type: none;
    color: rgb(255, 255, 255);
}
.cabecalho-logo{
    display: flex;
}
.lista-item{
    margin-left: 50px;
}